/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Quicksand');

/* styling*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.title {
    background-color: #303030;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
}

.title h1 {
    color: #FFFFFF;
    font-size: 100px;
    font-family: 'Quicksand';
    text-align: center;
    font-weight: lighter;
    padding-top: 50vh;
}

.content {
    background-color: #FAFAFA;
    width: 100%;
    height: 100vh;
    position: relative;
}

.content p {
    color: #000000;
    font-family: 'Nunito', 'Quicksand', 'Lato', sans-serif;
    padding: 6vh;
    font-size: 35px;
}

.buttons {
  top: 0vh;
  position: relative;
}

.buttons p {
    color: #FFFFFF;
    background-color: #00897B;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 3.5vh;
    width: 14.5vw;
    text-align: center;
    margin-top: 10vh;
    margin-left: 40vw;
    transition: background-color, ease 0.2s;
}

.buttons p:hover {
    background-color: #00695C;
    color: #FFFFFF;
}
