/*fonts*/

@import url('https://fonts.googleapis.com/css?family=Lato|Nunito|Roboto|Poppins');

/* styling*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.title {
    background-color: #303030;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
}

.title h1 {
    color: #FFFFFF;
    font-size: 6em;
    font-family: 'Poppins', 'Lato', sans-serif;
    font-weight: lighter;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.content {
    background-color: #FAFAFA;
    width: 100%;
    height: 100vh;
    position: relative;
}

.content p {
    color: #000000;
    font-family: 'Nunito', 'Roboto', 'Lato', sans-serif;
    padding: 6vh;
    font-size: 35px;
}

.buttons {
    top: 0vh;
    position: relative;
}

.buttons p {
    color: #FFFFFF;
    background-color: #00897B;
    font-weight: lighter;
    font-family: 'Roboto', 'Lato', sans-serif;
    font-size: 30px;
    padding: 3.5vh;
    width: 14.5vw;
    text-align: center;
    margin-top: 10vh;
    margin-left: 40vw;
    transition: background-color, ease 0.2s;
    transition: box-shadow, ease 0.5s;
    box-shadow: 3px 3px 12px rgba(12, 12, 12, 0.5);
}

.buttons p:hover {
    background-color: #00695C;
    color: #FFFFFF;
}

#footer {
    position: relative;
    top: 30vh;
    padding: 0;
    padding-left: 3vw;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1em;
    font-family: 'Lato', 'Roboto', sans-serif;
}

#footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

#footer a:hover {
  color: rgba(0, 0, 0, 0.7);
}
