/* fonts */
@font-face {
  font-family: fighting;
  src: url('../fonts/fighting.ttf')
}

@font-face {
  font-family: soul;
  src: url('fonts/soul.ttf')
}

@font-face {
  font-family: disaster;
  src: url('fonts/disaster.ttf')
}

@font-face {
  font-family: gangster;
  src: url('fonts/gangster.ttf')
}

/* styling */
body {
  background: url('img/reaper.jpg')
}

p {
  text-align: center;
  font-size: 15vh;
  color: white;
  font-family: disaster;
  background: url('img/fire.jpeg');
  border-color: white;
  text-shadow: 1px 1px 20px black;
}

span {
  font-size: 16vh;
  color: #730000;
  font-family: fighting;
  text-shadow: 1px 1px 1px white;
}

#text2 {
  font-family: gangster;
  background-color: black;
  color: white;
  text-shadow: 1px 1px 10px black;
}

#text3 {
  font-family: disaster;
  color: white;
  background: url('img/skel.jpg');
  text-shadow: 1px 1px 1px red;
}

#good {
  font-family: soul;
  color: black;
}
